@use "global" as *;

.breadcrumb {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include mq(md) {
  }
}

.breadcrumb-item {
  display: inline-flex;
  align-items: center;
}

.breadcrumb-item a {
  font-size: myrem(11);
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0em;
  color: $black2;
  @include mq(md) {
    font-size: myrem(14);
  }
}

.breadcrumb-separator {
  font-size: myrem(11);
  font-weight: bold;
  line-height: 1.6;
  display: inline-block;
  margin-inline: myrem(4);
  @include mq(md) {
    font-size: myrem(14);
    margin-inline: myrem(10);
  }
}

.breadcrumb-item.active {
  font-size: myrem(11);
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0em;
  color: $blue;
  opacity: 0.5;
  text-transform: uppercase;
  @include mq(md) {
    font-size: myrem(14);
    line-height: 1.6;
  }
}
