@use "global" as *;

.c-btn {
  width: max-content;
  @include mq(md) {
  }
}

.c-btn__link {
  font-family: $font-sub;
  font-size: myrem(22);
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.1em;
  display: inline-flex;
  align-items: center;
  gap: myrem(8);
  @include mq(md) {
    gap: myrem(12);
  }
}

.c-btn--circle {
  position: relative;
  display: block;
  width: myrem(30);
  height: myrem(30);
  border-radius: 50%;
  background: linear-gradient(to bottom, #104c93 0%, #104c93 41%, #0e2d52 100%);
  @include mq(md) {
    width: myrem(42);
    height: myrem(42);
  }
}
.c-btn--circle::before {
  position: absolute;
  content: "";
  display: block;
  width: myrem(8);
  height: myrem(10);
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  background: $white;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  @include mq(md) {
    width: myrem(10);
    height: myrem(14);
  }
}

.c-btn--l {
  display: none;
  @include mq(md) {
    display: initial;
  }
}

.c-btn--l-circle {
  @include mq(md) {
    width: myrem(70);
    height: myrem(70);
  }
}

.c-btn--l-circle::before {
  @include mq(md) {
    width: myrem(20);
    height: myrem(18);
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// トップに戻る
.c-top-btn {
  position: relative;
  font-family: $font-tertiary;
  font-size: myrem(20);
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.1em;
  color: $blue;
  display: block;
  width: fit-content;
  text-align: center;
  border-radius: myrem(50);
  border: myrem(2) solid $blue;
  padding: myrem(18) myrem(92);
  cursor: pointer;
  background: $white;
  margin: auto;
  @include mq(md) {
    font-size: myrem(20);
    letter-spacing: 0.1em;
    padding: myrem(18) myrem(92);
    margin: auto;
  }
}

.c-top-btn--o {
  font-family: $font-sub;
  font-weight: 900;
@include mq(md) {
}
}

.c-top-btn::before {
  position: absolute;
    content: "▼";
    top: myrem(20);
    right: myrem(60);
    font-size: myrem(15);
    color: $blue;
    transform: rotate(-90deg);
  @include mq(md) {
    top: myrem(21);
    right: myrem(62);
  }
}
