@charset "UTF-8";
html {
  font-size: 100%;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.3745704467vw;
  }
}
@media (min-width: 1164px) {
  html {
    font-size: 100%;
  }
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #000;
}

@media screen and (min-width: 768px) {
  a,
  button {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  a:hover,
  button:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

/*****************************
* A Modern CSS Reset (https://github.com/hankchizljaw/modern-css-reset)
* 上記に、ul要素,ol要素,a要素への記述追加
*****************************/
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
li {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  background-color: initial;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.l-inner {
  width: 100%;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1164px;
    padding-right: 4.375rem;
    padding-left: 4.375rem;
  }
}

.c-btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.c-btn__link {
  font-family: "Roboto", sans-serif;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.1em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
@media screen and (min-width: 768px) {
  .c-btn__link {
    gap: 0.75rem;
  }
}

.c-btn--circle {
  position: relative;
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#104c93), color-stop(41%, #104c93), to(#0e2d52));
  background: linear-gradient(to bottom, #104c93 0%, #104c93 41%, #0e2d52 100%);
}
@media screen and (min-width: 768px) {
  .c-btn--circle {
    width: 2.625rem;
    height: 2.625rem;
  }
}

.c-btn--circle::before {
  position: absolute;
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.625rem;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
          clip-path: polygon(0 0, 0% 100%, 100% 50%);
  background: #fff;
  top: 50%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .c-btn--circle::before {
    width: 0.625rem;
    height: 0.875rem;
  }
}

.c-btn--l {
  display: none;
}
@media screen and (min-width: 768px) {
  .c-btn--l {
    display: inline;
    display: initial;
  }
}

@media screen and (min-width: 768px) {
  .c-btn--l-circle {
    width: 4.375rem;
    height: 4.375rem;
  }
}

@media screen and (min-width: 768px) {
  .c-btn--l-circle::before {
    width: 1.25rem;
    height: 1.125rem;
    -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
            clip-path: polygon(50% 0, 0 100%, 100% 100%);
    top: 47%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.c-label {
  font-size: 1.125rem;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0.1em;
  color: #fff;
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(#104c93), color-stop(41%, #104c93), to(#0e2d52));
  background: linear-gradient(to right, #104c93 0%, #104c93 41%, #0e2d52 100%);
  padding: 0.5rem 0 0.5625rem 0.3125rem;
}
@media screen and (min-width: 768px) {
  .c-label {
    font-size: 2.125rem;
    font-weight: 800;
    padding: 0.1875rem 0 0.5625rem 0.625rem;
  }
}

.c-title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.c-title--l {
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0em;
  color: #104C93;
}
@media screen and (min-width: 768px) {
  .c-title--l {
    font-size: 3.75rem;
  }
}

.c-title--s {
  position: relative;
  font-size: 0.8125rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.06em;
  color: #2a2a2a;
  display: inline-block;
  padding: 0 0 0 1.875rem;
  margin: 0.3125rem 0 0 0;
}
@media screen and (min-width: 768px) {
  .c-title--s {
    font-size: 1rem;
    padding: 0 0 0 2.6875rem;
    margin: 0.1875rem 0 0 0;
  }
}

.c-title--s::before {
  position: absolute;
  content: "";
  width: 0.5rem;
  height: 0.25rem;
  background: #104C93;
  top: 50%;
  left: 8%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .c-title--s::before {
    width: 1rem;
    top: 47%;
    left: 5%;
  }
}

.c-title--wl {
  color: #fff;
}
.c-title--ws {
  position: relative;
  color: #fff;
  display: inline-block;
  padding: 0 0 0 1.75rem;
  margin: 0.4375rem 0 0 0;
}
@media screen and (min-width: 768px) {
  .c-title--ws {
    padding: 0 0 0 2.6875rem;
  }
}

.c-title--ws::before {
  position: absolute;
  content: "";
  width: 1rem;
  height: 0.25rem;
  background: -webkit-gradient(linear, left top, right top, from(#104c93), color-stop(50%, #104c93), color-stop(50%, #ffffff), to(#ffffff));
  background: linear-gradient(to right, #104c93 0%, #104c93 50%, #ffffff 50%, #ffffff 100%);
  top: 50%;
  left: 8%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .c-title--ws::before {
    width: 2rem;
    top: 47%;
    left: 7%;
  }
}

.c-title--wsc {
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 1.25rem 0 0 0;
}
@media screen and (min-width: 768px) {
  .c-title--wsc {
    text-align: left;
    text-align: initial;
    padding: 0 0 0 3.25rem;
    margin: 0.25rem 0 0 0;
  }
}

.c-title--wsc::before {
  position: absolute;
  content: "";
  top: -79%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .c-title--wsc::before {
    top: 47%;
    left: 11%;
  }
}

.c-title--sl {
  font-size: 1.25rem;
}
@media screen and (min-width: 768px) {
  .c-title--sl {
    font-size: 3.75rem;
  }
}

.p-footer-cta {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .p-footer-cta {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.p-footer-cta__contact {
  position: relative;
  width: inherit;
  aspect-ratio: 375/225;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .p-footer-cta__contact {
    aspect-ratio: 720/410;
  }
}

.p-footer-cta__contact:before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../images/cta/cta-sp-contact.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .p-footer-cta__contact:before {
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    background-image: url("../images/cta/cta-pc-contact.png");
  }
}

.p-footer-cta__faq {
  position: relative;
  width: inherit;
  aspect-ratio: 375/225;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .p-footer-cta__faq {
    overflow: hidden;
    aspect-ratio: 720/410;
  }
}

.p-footer-cta__faq:before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../images/cta/cta-sp-faq.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .p-footer-cta__faq:before {
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    background-image: url("../images/cta/cta-pc-faq.png");
  }
}

@media screen and (min-width: 768px) {
  .p-footer-cta__contact:hover::before,
  .p-footer-cta__faq:hover:before {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.p-footer-cta__title {
  position: absolute;
  top: 38%;
  left: 6%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  .p-footer-cta__title {
    top: 51%;
    left: 10%;
  }
}

.p-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.75rem;
  background: #fff;
  z-index: 44;
}
@media screen and (min-width: 768px) {
  .p-header {
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 5rem;
  }
}

.p-header__wrapper {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 1.125rem;
}
@media screen and (min-width: 768px) {
  .p-header__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 4.8611111111vw;
  }
}

.p-header__logo {
  width: 54.9333333333%;
  -ms-flex-line-pack: center;
      align-content: center;
}
@media screen and (min-width: 768px) {
  .p-header__logo {
    width: 21.1805555556%;
  }
}

.p-header__logo-image {
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.1em;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .p-header__logo-image {
    font-size: 2rem;
    line-height: 1;
    letter-spacing: 0.1em;
    display: inline-block;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.p-header__hamburger {
  position: absolute;
  width: 3.75rem;
  height: 3.75rem;
  display: inline-block;
  top: 0;
  right: 0;
  background: #104C93;
}
@media screen and (min-width: 768px) {
  .p-header__hamburger {
    display: none;
  }
}

.p-header__hamburger span {
  position: absolute;
  width: 1.4375rem;
  height: 0.125rem;
  border-radius: 0.125rem;
  background: #fff;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translateY(0) rotate(0);
          transform: translateY(0) rotate(0);
  -webkit-transition: -webkit-transform ease-in-out 0.3s;
  transition: -webkit-transform ease-in-out 0.3s;
  transition: transform ease-in-out 0.3s;
  transition: transform ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
  right: 1.125rem;
}

.p-header__hamburger span:nth-child(1) {
  top: 1.25rem;
}

.p-header__hamburger span:nth-child(2) {
  top: 1.875rem;
}

.p-header__hamburger span:nth-child(3) {
  top: 2.5rem;
  width: 0.75rem;
}

.p-header__hamburger.is-active span:nth-child(1) {
  -webkit-transform: translateY(0.625rem) rotate(45deg);
          transform: translateY(0.625rem) rotate(45deg);
}

.p-header__hamburger.is-active span:nth-child(2) {
  background-color: transparent;
}

.p-header__hamburger.is-active span:nth-child(3) {
  -webkit-transform: translateY(-0.625rem) rotate(-45deg);
          transform: translateY(-0.625rem) rotate(-45deg);
  width: 1.4375rem;
}

.p-header__nav {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  background: white;
  top: 3.75rem;
  left: 0;
  padding: 1.4375rem 1.25rem 1.25rem;
  z-index: 43;
}
@media screen and (min-width: 768px) {
  .p-header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    height: inherit;
    width: 64.2335766423%;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
  }
}

.p-header__nav-inner {
  height: 100%;
  overflow: auto;
}
@media screen and (min-width: 768px) {
  .p-header__nav-inner {
    height: inherit;
    width: 100%;
    overflow: visible;
    overflow: initial;
  }
}

.p-header__nav-inner2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  min-height: 29.375rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-header__nav-inner2 {
    min-height: 0;
    min-height: initial;
    height: inherit;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.p-header__nav-list {
  width: 20.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-top: 1.625rem;
}
@media screen and (min-width: 768px) {
  .p-header__nav-list {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: inherit;
    margin-top: 0;
    margin-top: initial;
  }
}

@media screen and (min-width: 768px) {
  .p-header__nav-item {
    height: inherit;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

.p-header-nav-item {
  position: relative;
  height: 4.375rem;
  border-bottom: 1px solid #d9d9d9;
}
@media screen and (min-width: 768px) {
  .p-header-nav-item {
    position: static;
    position: initial;
    height: auto;
    height: initial;
    border-bottom: none;
    padding: 0;
  }
}

.p-header-nav-item:before {
  position: absolute;
  content: "";
  width: 1rem;
  height: 0.25rem;
  background: -webkit-gradient(linear, left top, right top, from(#104c93), color-stop(50%, #104c93), color-stop(50%, #cacaca), to(#cacaca));
  background: linear-gradient(to right, #104c93 0%, #104c93 50%, #cacaca 50%, #cacaca 100%);
  top: 64%;
  left: 3%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .p-header-nav-item:before {
    display: none;
  }
}

.p-header-nav-item:after {
  position: absolute;
  content: "";
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.06em;
  color: #000;
  left: 8%;
  top: 65%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (min-width: 768px) {
  .p-header-nav-item:after {
    display: none;
  }
}

.p-header-nav-item:nth-child(1) {
  position: relative;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media screen and (min-width: 768px) {
  .p-header-nav-item:nth-child(1) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.p-header-nav-item:nth-child(1):after {
  content: "実績";
}

.p-header-nav-item:nth-child(2) {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}
@media screen and (min-width: 768px) {
  .p-header-nav-item:nth-child(2) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.p-header-nav-item:nth-child(2):after {
  content: "メッセージ";
}

.p-header-nav-item:nth-child(3) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
@media screen and (min-width: 768px) {
  .p-header-nav-item:nth-child(3) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.p-header-nav-item:nth-child(3):after {
  content: "サービス";
}

.p-header-nav-item:nth-child(4) {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}
@media screen and (min-width: 768px) {
  .p-header-nav-item:nth-child(4) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.p-header-nav-item:nth-child(4):after {
  content: "経歴・職歴";
}

.p-header-nav-item:nth-child(5) {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
  border-bottom: none;
}
@media screen and (min-width: 768px) {
  .p-header-nav-item:nth-child(5) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.p-header-nav-item:nth-child(5):after {
  content: "お知らせ";
}

.p-header-nav-item:nth-child(6) {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}
@media screen and (min-width: 768px) {
  .p-header-nav-item:nth-child(6) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.p-header-nav-item:nth-child(6):after {
  content: "お客様の声";
}

.p-header-nav-item:nth-child(7) {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}
@media screen and (min-width: 768px) {
  .p-header-nav-item:nth-child(7) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.p-header-nav-item:nth-child(7):after {
  content: "よくあるご質問";
}

.p-header-nav-item:nth-child(8) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
@media screen and (min-width: 768px) {
  .p-header-nav-item:nth-child(8) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.p-header-nav-item:nth-child(8):after {
  content: "お問い合わせ";
}

.p-header-nav-item__link {
  display: block;
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #000;
  width: 100%;
  height: inherit;
  padding: 0.4375rem 0;
}
@media screen and (min-width: 768px) {
  .p-header-nav-item__link {
    position: relative;
    font-size: 1.1111111111vw;
    line-height: 1;
    letter-spacing: 0.1em;
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

@media screen and (min-width: 768px) {
  .p-header-nav-item__link:hover {
    color: #104C93;
  }
}

@media screen and (min-width: 768px) {
  .p-header-nav-item__link:active {
    color: white;
  }
}

@media screen and (min-width: 768px) {
  .p-header__nav-item:hover .p-header__dropmenu {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
    overflow: visible;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
  }
}

.p-header__dropmenu {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s ease;
  transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s ease;
}
@media screen and (min-width: 768px) {
  .p-header__dropmenu {
    max-height: none;
    max-height: initial;
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    background: rgba(255, 255, 255, .8);
    position: absolute;
    width: 100%;
    padding: 0.875rem 0.4375rem 0.75rem 0.625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 80px;
  }
}

.js-accordion.is-open .p-header__dropmenu {
  max-height: 12.5rem;
  opacity: 1;
  -webkit-transition: max-height 0.4s ease-in;
  transition: max-height 0.4s ease-in;
}
.p-header-dropmenu__item {
  position: relative;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-header-dropmenu__item {
    width: auto;
    width: initial;
  }
}

@media screen and (min-width: 768px) {
  .p-header-dropmenu__link {
    font-size: 1.11vw;
    line-height: 2.125;
    letter-spacing: 0;
    padding-inline: 0;
    padding-block: 0.21vw;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

@media screen and (min-width: 768px) {
  .p-header-dropmenu__link:hover {
    color: red;
    font-weight: bold;
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .p-header-nav-item:hover .p-header__dropmenu {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.p-header__btn-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-header__btn-item {
    width: 19.3181818182%;
    height: inherit;
    background: -webkit-gradient(linear, left top, left bottom, from(#104c93), color-stop(41%, #104c93), to(#0e2d52));
    background: linear-gradient(to bottom, #104c93 0%, #104c93 41%, #0e2d52 100%);
  }
}

.p-header__btn-link {
  display: block;
  text-align: left;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .p-header__btn-link {
    position: relative;
    font-size: 1.1111111111vw;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: #fff;
    padding: 0 0 0 2.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .p-header__btn-link:hover {
    color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .p-header__btn-link:before {
    position: absolute;
    content: "";
    background-image: url("../images/header/btn-pc-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.6875rem;
    height: 1.25rem;
    top: 50%;
    left: 25%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.p-header__sp-contact-btn {
  position: fixed;
  width: 3.75rem;
  height: 3.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#104c93), color-stop(41%, #104c93), to(#0e2d52));
  background: linear-gradient(to bottom, #104c93 0%, #104c93 41%, #0e2d52 100%);
  right: 3.75rem;
  top: 0;
}
@media screen and (min-width: 768px) {
  .p-header__sp-contact-btn {
    display: none;
  }
}

.p-header__sp-contact-btn:before {
  position: absolute;
  content: "";
  background-image: url("../images/header/btn-sp-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.25rem;
  height: 0.9375rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* ハンバーガーメニュー展開時、背景を固定 */
body.active {
  height: 100%;
  overflow: hidden;
}

.p-main {
  width: 100%;
  background: gray;
}

.p-test {
  color: red;
  font-size: 1.5625rem;
}
@media screen and (min-width: 768px) {
  .p-test {
    font-size: 3.125rem;
  }
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */
