@charset "UTF-8";
html {
  font-size: 100%;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.3745704467vw;
  }
}
@media (min-width: 1164px) {
  html {
    font-size: 100%;
  }
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #333;
}

@media screen and (min-width: 768px) {
  a,
  button {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  a:hover,
  button:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

/*****************************
* A Modern CSS Reset (https://github.com/hankchizljaw/modern-css-reset)
* 上記に、ul要素,ol要素,a要素への記述追加
*****************************/
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
li {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  background-color: initial;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.l-inner {
  width: 100%;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1164px;
    padding-right: 4.375rem;
    padding-left: 4.375rem;
  }
}

.c-btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.c-btn__link {
  font-family: "Roboto", sans-serif;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.1em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
@media screen and (min-width: 768px) {
  .c-btn__link {
    gap: 0.75rem;
  }
}

.c-btn--circle {
  position: relative;
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#104C93), color-stop(41%, #104C93), to(#0E2D52));
  background: linear-gradient(to bottom, #104C93 0%, #104C93 41%, #0E2D52 100%);
}
@media screen and (min-width: 768px) {
  .c-btn--circle {
    width: 2.625rem;
    height: 2.625rem;
  }
}

.c-btn--circle::before {
  position: absolute;
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.625rem;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
          clip-path: polygon(0 0, 0% 100%, 100% 50%);
  background: #fff;
  top: 50%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .c-btn--circle::before {
    width: 0.625rem;
    height: 0.875rem;
  }
}

.c-title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.c-title--l {
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0em;
  color: #104C93;
}
@media screen and (min-width: 768px) {
  .c-title--l {
    font-size: 3.75rem;
  }
}

.c-title--s {
  position: relative;
  font-size: 0.8125rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.06em;
  color: #2a2a2a;
  display: inline-block;
  padding: 0 0 0 1.875rem;
  margin: 0.3125rem 0 0 0;
}
@media screen and (min-width: 768px) {
  .c-title--s {
    font-size: 1rem;
    padding: 0 0 0 2.6875rem;
    margin: 0.1875rem 0 0 0;
  }
}

.c-title--s::before {
  position: absolute;
  content: "";
  width: 0.5rem;
  height: 0.25rem;
  background: #104C93;
  top: 50%;
  left: 8%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .c-title--s::before {
    width: 1rem;
    top: 47%;
    left: 5%;
  }
}

.c-title--wl {
  color: #fff;
}
.c-title--ws {
  position: relative;
  color: #fff;
  display: inline-block;
  padding: 0 0 0 1.75rem;
  margin: 0.4375rem 0 0 0;
}
@media screen and (min-width: 768px) {
  .c-title--ws {
    padding: 0 0 0 2.6875rem;
  }
}

.c-title--ws::before {
  position: absolute;
  content: "";
  width: 1rem;
  height: 0.25rem;
  background: -webkit-gradient(linear, left top, right top, from(#104c93), color-stop(50%, #104c93), color-stop(50%, #ffffff), to(#ffffff));
  background: linear-gradient(to right, #104c93 0%, #104c93 50%, #ffffff 50%, #ffffff 100%);
  top: 50%;
  left: 8%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .c-title--ws::before {
    width: 2rem;
    top: 47%;
    left: 7%;
  }
}

.c-title--wsc {
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 1.25rem 0 0 0;
}
@media screen and (min-width: 768px) {
  .c-title--wsc {
    text-align: left;
    text-align: initial;
    padding: 0 0 0 3.25rem;
    margin: 0.25rem 0 0 0;
  }
}

.c-title--wsc::before {
  position: absolute;
  content: "";
  top: -79%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .c-title--wsc::before {
    top: 47%;
    left: 11%;
  }
}

.p-main {
  width: 100%;
  background: gray;
}

.p-test {
  color: red;
  font-size: 1.5625rem;
}
@media screen and (min-width: 768px) {
  .p-test {
    font-size: 3.125rem;
  }
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */
