@use "global" as *;

.p-fv {
  @include mq(md) {
  }
}

.p-fv__swiper {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  @include mq(md) {
  }
}

.swiper-wrapper {
  @include mq(md) {
  }
}

.p-fv__swiper .swiper-slide {
  @include mq(md) {
    opacity: 0;
    transform: scale(1);
    transition: opacity 1s ease, transform 1s ease;
  }
}
.p-fv__swiper .swiper-slide-active {
  @include mq(md) {
    opacity: 1;
    transform: scale(1.1);
  }
}

.p-fv__image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  @include mq(md) {
  }
}

.p-fv__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $black;
  opacity: 0.2;
  z-index: 1;
  pointer-events: none;
  @include mq(md) {
  }
}

.p-fv__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform 6s ease;
}

.p-fv__swiper .swiper-slide-active .p-fv__image img {
  transform: scale(1.1);
}

.p-fv__title-group {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: #fff;
  text-align: left;
  @include mq(md) {
  }
}

.p-fv__text {
  font-size: 16px;
  margin-bottom: 10px;
  opacity: 0;
  animation: textFadeIn 1s ease forwards;
  display: flex;
  align-items: center;
  @include mq(md) {
    font-size: 40px;
  }
}

@keyframes textFadeIn {
  to {
    opacity: 1;
  }
}

.p-fv-bar {
  display: inline-block;
  width: 0;
  height: 2px;
  background-color: #fff;
  margin-left: 10px;
  animation: expandLine 1s ease forwards;
  animation-delay: 0.5s;
  @include mq(md) {
  }
}

@keyframes expandLine {
  0% {
    width: 0;
  }
  100% {
    width: 200px;
  }
}

.p-fv__title02 {
  font-size: 32px;
  font-weight: bold;
  @include mq(md) {
    font-size: 62px;
  }
}

.p-fv__title01 {
  font-size: 62px;
  font-weight: bold;
  @include mq(md) {
    font-size:100px;
  }
}

.is-fv-title {
  display: inline-block;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.is-fv-title.is-fv-show {
  opacity: 1;
}
