@use "global" as *;

.p-fv {
  @include mq(md) {
  }
}

.p-fv__swiper {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  @include mq(md) {
  }
}

.swiper-wrapper {
  @include mq(md) {
  }
}

.p-fv__swiper .swiper-slide {
  @include mq(md) {
    opacity: 0;
    transform: scale(1);
    transition: opacity 1s ease, transform 1s ease;
  }
}
.p-fv__swiper .swiper-slide-active {
  @include mq(md) {
    opacity: 1;
    transform: scale(1.1);
  }
}

.p-fv__image {
  width: 100%;
  height: 100%;
  @include mq(md) {
  }
}

.p-fv__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform 6s ease;
}

.p-fv__swiper .swiper-slide-active .p-fv__image img {
  transform: scale(1.1);
}
