@use "global" as *;

.p-message {
  width: 100%;
}

.p-message__container {
  width: inherit;
  padding: myrem(79) 0 0 0;
  @include mq(md) {
    padding: myrem(102) 0 0 0;
  }
}

.p-message__top-image {
  margin: myrem(23) calc(50% - 50vw) 0;
  width: 100vw;
  max-width: none;
  @include mq(md) {
    margin: myrem(31) calc(50% - 50vw) 0;
  }
}

.p-message__top-image img {
  width: 100%;
  aspect-ratio: 375 / 250;
  @include mq(md) {
    aspect-ratio: 1440 / 480;
  }
}

.p-message__wrapper {
  width: 100%;
  padding: myrem(8) 0 0 0;
  @include mq(md) {
  padding: myrem(19) 0 0 0;
}
}

.p-message__content {
  width: 100%;
  padding: myrem(59) 0 0 0;
  @include mq(md) {
    padding: myrem(63) 0 0 0;
  }
}

.p-message__content-group {
  width: inherit;
  @include mq(md) {
    display: flex;
  }
}

.p-message__content-title-wrapper {
  width: inherit;
  @include mq(md) {
  }
}

.p-message__content-title {
  font-size: myrem(20);
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0em;
  margin: 0 0 myrem(7) 0;
  @include mq(md) {
    font-size: myrem(34);
    font-weight: 800;
    letter-spacing: 0.1em;
    margin: 0 0 myrem(14) 0;
    padding: 0 0 0 myrem(10);
  }
}

.p-message__content-text-group {
  width: inherit;
  display: flex;
  flex-direction: column;
  gap: myrem(28);
  margin: myrem(19) 0 0 0;
  @include mq(md) {
    gap: myrem(28);
    margin: myrem(31) 0 0 0;
    padding: 0 myrem(15) 0 0;
  }
}

.p-message__content-text {
  font-size: myrem(16);
  font-weight: normal;
  line-height: calc(28 / 16);
  letter-spacing: 0.1em;
  color: $black2;
  @include mq(md) {
    color: $black;
  }
}

.p-message__content-person {
  width: 100%;
  margin: myrem(61) 0 0 0;
  @include mq(md) {
    width: calc(320 / 1300 * 100%);
    margin: myrem(4) 0 0 0;
  }
}
.p-message__content-person picture {
  width: 100%;
  @include mq(md) {
    width: myrem(320);
    height: myrem(210);
  }
}
.p-message__content-person img {
  width: 100%;
  aspect-ratio: 335 / 216;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 320 / 210;
  }
}

.p-message__content-person-name {
  font-size: myrem(16);
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.06em;
  color: $black2;
  text-align: right;
  margin: myrem(13) 0 0 0;
  @include mq(md) {
    font-size: myrem(24);
    letter-spacing: 0.1em;
    text-align: left;
    margin: myrem(11) 0 0 0;
  }
}

.p-message__content-person-spell {
  font-size: myrem(12);
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.06em;
  color: $blue;
  opacity: 0.5;
  text-align: right;
  margin: myrem(8) 0 0 0;
  @include mq(md) {
    font-size: myrem(14);
    letter-spacing: 0em;
    text-align: left;
    margin: myrem(12) 0 0 0;
  }
}

.p-message__content-slide-group {
  width: 100vw;
  overflow: hidden;
  margin: 0 calc(50% - 50vw);
  padding: myrem(64) 0 myrem(35);
  @include mq(md) {
    padding: myrem(76) 0 myrem(35);
  }
}

.slide-list {
  display: flex;
  gap: myrem(17);
  margin-bottom: myrem(12);
  list-style: none;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  width: max-content;
  @include mq(md) {
    gap: myrem(18);
    margin-bottom: myrem(20);
  }
}

.slide-list:nth-child(1) {
  animation: slideRight 50s linear infinite;
}

.slide-list:nth-child(2) {
  animation: slideLeft 50s linear infinite;
}

.slide-item {
  flex-shrink: 0;
  height: myrem(187);
  width: auto;
  overflow: hidden;
  @include mq(md) {
    height: myrem(200);
  }
}
.slide-item img {
  height: 100%;
  width: auto;
  object-fit: cover;
  display: block;
  @include mq(md) {
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.p-message__content02 {
  width: 100%;
  padding: myrem(19) 0 myrem(60) 0;
  @include mq(md) {
    padding: myrem(39) 0 myrem(105) 0;
  }
}

.p-message__content02-text-group02 {
  gap: myrem(28);
  margin: myrem(19) 0 0 0;
  @include mq(md) {
    gap: myrem(28);
    margin: myrem(20) 0 0 0;
  }
}
