@use "global" as *;

.p-service {
  width: 100%;
  background: #f3f7fa;
}

.p-service__container {
  width: inherit;
  padding: myrem(79) 0 0 0;
  @include mq(md) {
    padding: myrem(102) 0 0 0;
  }
}

.p-service__top-image {
  margin: myrem(6) calc(50% - 50vw) myrem(10);
  width: 100vw;
  max-width: none;
  @include mq(md) {
    margin: myrem(36) calc(50% - 50vw) 0;
  }
}

.p-service__top-image img {
  width: 100%;
  aspect-ratio: 375 / 250;
  @include mq(md) {
    aspect-ratio: 1440 / 480;
  }
}

.p-price__content {
  width: 100%;
  padding: myrem(10) 0 0 0;
  @include mq(md) {
    padding: myrem(14) 0 0 0;
  }
}

// price
.p-price__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: myrem(12);
  list-style: none;
  margin: myrem(41) 0 0 0;
  @include mq(md) {
    display: flex;
    flex-wrap: wrap;
    gap: myrem(10);
    margin: myrem(39) 0 0 0;
  }
}

.price-item {
  background: $white;
  padding: myrem(20) 0 myrem(30) myrem(10);
  border-radius: myrem(4);
  @include mq(md) {
    padding: myrem(57) 0 myrem(30) myrem(10);
  }
}

/* お見積もり：3列分 */
.price-item:nth-child(1) {
  grid-column: 1 / 3;
  @include mq(md) {
    width: myrem(343);
    height: myrem(407);
    padding: myrem(57) myrem(32) myrem(40) myrem(58);
  }
}

/* 基本料金：9列分 */
.price-item:nth-child(2) {
  grid-column: 1 / 2;
  padding: myrem(20) 0 myrem(45) myrem(10);
  @include mq(md) {
    width: myrem(947);
    padding: myrem(57) myrem(80) myrem(40) myrem(58);
  }
}

/* アニメーション：5列分 */
.price-item:nth-child(3) {
  grid-column: 2 / 3;
  padding: myrem(20) myrem(10) myrem(45) myrem(10);
  @include mq(md) {
    width: myrem(559);
    height: myrem(396);
    padding: myrem(57) myrem(32) myrem(40) myrem(58);
  }
}

/* レスポンシブ：7列分 */
.price-item:nth-child(4) {
  grid-column: 1 / 3;
  padding: myrem(20) 0 myrem(12) myrem(10);
  @include mq(md) {
    width: myrem(730);
    padding: myrem(57) myrem(88) myrem(40) myrem(58);
  }
}

/* 実装工期：全幅 */
.price-item:nth-child(5) {
  grid-column: 1 / 3;
  @include mq(md) {
    width: 100%;
    height: myrem(310);
    padding: myrem(3) myrem(215) myrem(40) myrem(221);
  }
}

.price-title {
  font-size: myrem(18);
  font-weight: bold;
  line-height: 1;
  letter-spacing: .05em;
  color: $blue;
  margin-bottom: 20px;
  @include mq(md) {
    font-size: myrem(32);

  }
}
.price-item:nth-child(4) .price-title {
  margin-bottom: myrem(10);
  @include mq(md) {
    font-size: myrem(32);
  }
}
.price-item:nth-child(5) .price-title {
  margin-bottom: myrem(10);
  @include mq(md) {
    font-size: myrem(32);
    position: relative;
    top: myrem(54);
  }
}

.price-content {
  width: 100%;
  display: flex;
  justify-content: center;
  @include mq(md) {
    flex-direction: row;
    align-items: center;
  }
}

.price-item:nth-child(2) .price-content {
  flex-direction: column-reverse;
  @include mq(md) {
    flex-direction: row-reverse;
  }
}
.price-item:nth-child(3) .price-content {
  margin: myrem(108) 0 0 0;
  @include mq(md) {
    margin: myrem(80) 0 0 0;
  }
}
.price-item:nth-child(4) .price-content {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  padding: 0 myrem(27) myrem(10) 0;
  @include mq(md) {
    padding: 0;
    gap: myrem(18);
  }
}
.price-item:nth-child(5) .price-content {
  align-items: center;
  justify-content: flex-end;
  padding: myrem(2) myrem(23) 0 0;
  gap: myrem(21);
  @include mq(md) {
    justify-content: initial;
    padding: 0;
    gap: myrem(82);
  }
}

.price-item:nth-child(2) .price-image {
  width: myrem(86);
  height: myrem(69);
  margin: 0 0 0 myrem(33);
  @include mq(md) {
    width: myrem(231);
    height: myrem(186);
    margin: myrem(28) myrem(43) 0 0;
  }
}
.price-item:nth-child(4) .price-image {
  width: myrem(78);
  height: myrem(102);
  margin: 0 myrem(39) 0 0;
  @include mq(md) {
    width: myrem(140);
    height: myrem(194);
    margin: myrem(38) myrem(8) 0 0;
  }
}
.price-item:nth-child(5) .price-image {
  width: myrem(157);
  height: myrem(72);
  @include mq(md) {
    width: myrem(465);
    height: myrem(214);
    margin: myrem(12) 0 0 0;
  }
}

.price-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.price-number {
  font-family: $font-sub;
  font-size: myrem(70);
  font-weight: 600;
  line-height: 1.2;
  color: $blue;
  margin: 0 0 0 myrem(5);
  @include mq(md) {
    font-size: myrem(100);
    margin: myrem(60) 0 0 0;
  }
}

.price-number--s {
  font-family: $font-sub;
  font-size: myrem(34);
  font-weight: 600;
  line-height: 1;
  color: $blue;
  margin: 0 0 0 myrem(5);
  @include mq(md) {
    font-size: myrem(100);
  }
}

.price-number--s::after {
  content: "円～";
  font-size: myrem(14);
  font-weight: bold;
  line-height: 1;
  letter-spacing: .04em;
  color: $black2;
  @include mq(md) {
    font-size: myrem(32);
  }
}

.price-item:nth-child(4) .price-number--s {
  margin: 0 0 myrem(10) 0;
  @include mq(md) {
    margin: 0 0 0 0;
  }
}

.price-number--j {
  font-family: $font-sub;
  font-size: myrem(34);
  font-weight: 600;
  line-height: 1;
  color: $blue;
  @include mq(md) {
  font-size: myrem(100);
}
}

.price-unit {
  font-size: myrem(14);
  font-weight: bold;
  line-height: 1;
  letter-spacing: .04em;
  color: $black2;
  @include mq(md) {
    font-size: myrem(32);
    margin: myrem(95) 0 0 myrem(5);
  }
}
.price-unit02 {
  @include mq(md) {
    margin: 0 0 0 myrem(5);
  }
}

.price-label {
  font-size: myrem(14);
  font-weight: bold;
  color: $black2;
  margin-bottom: myrem(5);
  @include mq(md) {
    font-size: myrem(32);
  }
}

.price-detail {
  display: flex;
  flex-direction: column;
  gap: myrem(10);
  margin: myrem(11) 0 0 0;
  @include mq(md) {
    gap: myrem(17);
    margin: myrem(11) 0 0 0;
  }
}

.price-detail02 {
  @include mq(md) {
    margin: myrem(72) 0 0 0;
  }
}

.price-row {
  display: flex;
  flex-direction: column;
  gap: myrem(5);
  @include mq(md) {
    flex-direction: row;
    align-items: center;
  }
}
.price-row02 {
  display: flex;
  vertical-align: bottom;
  gap: myrem(5);
  place-items: baseline;
  @include mq(md) {
    gap: myrem(20);
  }
}

.price-row-label {
  font-size: myrem(13);
  font-weight: bold;
  line-height: 1;
  letter-spacing: .04em;
  color: $black2;
  margin: 0 0 0 myrem(5);
  @include mq(md) {
    font-size: myrem(32);
    width: myrem(100);
    margin: myrem(13) 0 0 0;
    text-align: center;
  }
}

.price-note {
  font-size: myrem(12);
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.06em;
  color: #999;
  margin: myrem(13) 0 0 0;
  text-align: center;
  @include mq(md) {
    font-size: myrem(16);
    margin: 0;
  }
}
