@use "global" as *;

.p-single-voice {
  width: 100%;
@include mq(md) {}
}

.p-single-voice__container {
  width: inherit;
  padding: myrem(101) 0 0 0;
@include mq(md) {
  padding: myrem(101) 0 0 0;
}
}

.p-single-voice__top-image {
  width: inherit;
  @include mq(md) {

  }
}
.p-single-voice__top-image img {
  @include mq(md) {}
}

.p-single-voice__content {
  width: inherit;
  display: flex;
  flex-direction: column;
  @include mq(md) {
    flex-direction: row;
    padding: myrem(101) 0 myrem(110) 0;
  }
}

.p-single-voice__content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include mq(md) {
    width: calc(980 / 1300 * 100%);
    gap: myrem(91);
    padding: 0 30px 0 0;
}
}

.p-single-voice__content-group {
@include mq(md) {}
}

.p-single-voice__content-title {
  font-size: myrem(20);
  font-weight: 900;
  line-height: 1;
  letter-spacing: .06em;
  @include mq(md) {
    font-size: myrem(34);
    font-weight: 800;
    line-height: 1.2;
  letter-spacing: .1em;
  margin: 0 0 9px 10px;
}
}

.p-single-voice__content-text-group {
  width: inherit;
  display: flex;
  flex-direction: column;
  gap: 10px;
@include mq(md) {
  gap: 28px;
  margin: 20px 0  0;
}
}

.p-single-voice__content-text {
  font-size: myrem(16);
  font-weight: normal;
  line-height: calc(28 / 16);
  letter-spacing: .1em;
  color: $black2;
@include mq(md) {
}
}

.p-single-voice__image01 {
  margin: myrem(76) 0 0 0;
  @include mq(md) {
  margin: myrem(76) 0 0 0;
}
}

.p-single-voice__image01 img{
@include mq(md) {}
}

.p-single-voice__image-group {
  width: 100%;
  display: flex;
  flex-direction: column;
@include mq(md) {
  flex-direction: row;
  gap: myrem(25);
  margin: myrem(77) 0 0 0;
}
}

.p-single-voice__image02 {

@include mq(md) {
  width: vw(1440, 461);
}
}

.p-single-voice__image02 img{
  @include mq(md) {}
}

.p-single-voice__image03 {
  @include mq(md) {
  width: vw(1440, 461);
  margin: myrem(50) 0 0 0;
}
}

.p-single-voice__image03 img{
@include mq(md) {}
}


.p-single-voice__content-person {
@include mq(md) {
  width: calc(320 / 1300 * 100%);
}
}

.p-single-voice__content-person-company {
  font-size: myrem(24);
  font-weight: 800;
  line-height: 1;
  letter-spacing: .1em;
@include mq(md) {
  margin: 20px 0 0 0;
}
}

.p-single-voice__content-person-name {
  font-size: myrem(16);
  font-weight: normal;
  line-height: 1;
  letter-spacing: .1em;
  @include mq(md) {
  margin: 10px 0 0 0;
}
}

.p-single-voice__btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
@include mq(md) {
  margin: 28px 0 0 0;
}
}
