@use "global" as *;

.p-single-voice {
  width: 100%;
}

.p-single-voice__container {
  width: inherit;
  padding: myrem(76) 0 0 0;
  @include mq(md) {
    padding: myrem(101) 0 0 0;
  }
}

.p-single-voice__top-image {
  width: inherit;
  @include mq(md) {
  }
}
.p-single-voice__top-image img {
  width: 100%;
  aspect-ratio: 375 / 230;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 1440 / 480;
  }
}

.p-single-voice__content {
  width: inherit;
  display: flex;
  flex-direction: column;
  padding: myrem(45) 0 myrem(110) 0;
  @include mq(md) {
    flex-direction: row;
    padding: myrem(101) 0 myrem(110) 0;
  }
}

.p-single-voice__content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: myrem(65);
  @include mq(md) {
    width: calc(980 / 1300 * 100%);
    gap: myrem(91);
    padding: 0 myrem(30) 0 0;
  }
}

.p-single-voice__content-group {
  width: inherit;
  @include mq(md) {
    width: 100%;
  }
}

.p-single-voice__content-title {
  font-size: myrem(20);
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0em;
  margin: 0 0 myrem(8) 0;
  @include mq(md) {
    font-size: myrem(34);
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.1em;
    margin: 0 0 myrem(9) myrem(10);
  }
}

.p-single-voice__content-text-group {
  width: inherit;
  display: flex;
  flex-direction: column;
  gap: myrem(26);
  margin: myrem(20) 0 0;
  @include mq(md) {
    gap: myrem(28);
  }
}

.p-single-voice__content-text {
  font-size: myrem(16);
  font-weight: normal;
  line-height: calc(28 / 16);
  letter-spacing: 0.1em;
  color: $black2;
}

.p-single-voice__image01 {
  width: 100vw;
  margin: myrem(55) calc(50% - 50vw) 0;
  max-width: none;
  @include mq(md) {
    width: 100%;
    margin: myrem(76) 0 0 0;
  }
}

.p-single-voice__image01 img {
  width: 100%;
}

.p-single-voice__image-group {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: myrem(20);
  margin: myrem(41) calc(50% - 50vw) myrem(60);
  overflow: hidden;
  @include mq(md) {
    width: 100%;
    flex-direction: row;
    gap: myrem(25);
    margin: myrem(77) 0 0 0;
  }
}

.p-single-voice__swiper-top,
.p-single-voice__swiper-bottom {
  width: 100%;
  overflow: visible;
  @include mq(md) {
  }
}

.p-single-voice__swiper-top .swiper-wrapper,
.p-single-voice__swiper-bottom .swiper-wrapper {
  transition-timing-function: linear;
  @include mq(md) {
    transition-timing-function: initial;
  }
}

.p-single-voice__swiper-bottom {
  @include mq(md) {
    margin: myrem(50) 0 0 0;
  }
}

.p-single-voice__swiper-top .swiper-slide,
.p-single-voice__swiper-bottom .swiper-slide {
  width: auto !important;
  height: myrem(182) !important;
}

.p-single-voice__image02,
.p-single-voice__image03 {
  width: 100%;
  @include mq(md) {
    width: vw(1440, 461);
  }
}

.p-single-voice__image03 {
  @include mq(md) {
    margin: myrem(50) 0 0 0;
  }
}

.p-single-voice__image02 img {
  width: myrem(282);
  aspect-ratio: 282 / 182;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 461 / 285;
    width: 100%;
  }
}

.p-single-voice__image03 img {
  width: myrem(282);
  aspect-ratio: 282 / 182;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 461 / 285;
    width: 100%;
  }
}

.p-single-voice__content-person {
  @include mq(md) {
    width: calc(320 / 1300 * 100%);
  }
}

.p-single-voice__content-person-company {
  @include mq(md) {
    font-size: myrem(24);
    font-weight: 800;
    line-height: 1;
    letter-spacing: 0.1em;
    text-align: left;
    margin: myrem(20) 0 0 0;
  }
}

.p-single-voice__content-person-name {
  font-size: myrem(16);
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.1em;
  color: $black2;
  text-align: right;
  margin: myrem(15) 0 0 0;
  @include mq(md) {
    font-size: myrem(16);
    font-weight: normal;
    line-height: 1;
    letter-spacing: 0.1em;
    text-align: left;
    margin: myrem(10) 0 0 0;
  }
}
.p-single-voice__content-person-spell {
  font-size: myrem(12);
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.06em;
  color: $blue;
  opacity: 0.5;
  text-align: right;
  margin: myrem(8) 0 0 0;
}

.p-single-voice__btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  @include mq(md) {
    margin: myrem(28) 0 0 0;
    padding: 0 0 0 myrem(167);
  }
}

// swiperページ下
.p-single-related-voice {
  width: 100%;
  padding: 0 0 myrem(50) 0;
  @include mq(md) {
    padding: 0 0 myrem(80) 0;
  }
}

.p-common-voice-slider {
  padding: myrem(10);
  @include mq(md) {
    padding: myrem(81) 0 0 0;
  }
}
.p-common-voice-slider__item {
  position: relative;
  width: myrem(257) !important;
    height: myrem(246);
  @include mq(md) {
    width: myrem(340) !important;
    height: myrem(301);
  }
}
.p-single-voice__slider-title-wrapper {
  width: 91%;
  bottom: myrem(-81);
  @include mq(md) {
    width: 91%;
    bottom: myrem(-71);
  }
}

// 矢印wrapper
.p-voice-slider__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: myrem(40);
  margin: myrem(45) 0 0 0;
  padding: 0;
  @include mq(md) {
  gap: myrem(40);
  margin: myrem(44) 0 0 0;
  padding: 0 myrem(60) 0 0;
}
}

.p-voice-slider__nav .swiper-button-prev,
.p-voice-slider__nav .swiper-button-next {
  position: initial;
  width: myrem(50);
  height: myrem(50);
  border: myrem(2) solid #353535;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mq(md) {
    width: myrem(60);
    height: myrem(60);
  }
}

// デフォルトの矢印画像を消す
.p-voice-slider__nav .swiper-button-prev::after,
.p-voice-slider__nav .swiper-button-next::after {
  content: "" !important;
}

// 矢印の<>
.p-voice-slider__nav .swiper-button-prev,
.p-voice-slider__nav .swiper-button-next {
  position: relative;
}

.p-voice-slider__nav .swiper-button-prev::before,
.p-voice-slider__nav .swiper-button-prev::after,
.p-voice-slider__nav .swiper-button-next::before,
.p-voice-slider__nav .swiper-button-next::after {
  content: "";
  position: absolute;
  width: myrem(8);
  height: myrem(1);
  border-radius: 50%;
  background: #2a2a2a;
  @include mq(md) {
    width: myrem(10);
  }
}

// 左矢印
.p-voice-slider__nav .swiper-button-prev::before {
  transform: translate(0, myrem(-2)) rotate(-45deg);
  @include mq(md) {
    transform: translate(0, myrem(-2)) rotate(-45deg);
  }
}

.p-voice-slider__nav .swiper-button-prev::after {
  transform: translate(0, myrem(3)) rotate(45deg);
  @include mq(md) {
    transform: translate(0, myrem(5)) rotate(45deg);
  }
}

// 右矢印
.p-voice-slider__nav .swiper-button-next::before {
  transform: translate(0, myrem(-2)) rotate(45deg);
  @include mq(md) {
    transform: translate(0, myrem(-2)) rotate(45deg);
  }
}

.p-voice-slider__nav .swiper-button-next::after {
  transform: translate(0, myrem(3)) rotate(-45deg);
  @include mq(md) {
    transform: translate(0, myrem(5)) rotate(-45deg);
  }
}

// disabled状態
.p-voice-slider__nav .swiper-button-disabled::before,
.p-voice-slider__nav .swiper-button-disabled::after {
  background: rgba(51, 51, 51, 0.9);
}
