@use "global" as *;

.p-top-message {
  width: 100%;
  overflow: hidden;
}
.p-top-message__inner {
  @include mq(md) {
    display: flex;
  }
}

.p-top-message__container {
  width: 100%;
  @include mq(md) {
    width: calc(1050 / 1440 * 100%);
  }
}

.p-top-message__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: myrem(60);
  padding: myrem(94) 0 myrem(10) 0;
  @include mq(md) {
    gap: myrem(115);
    padding: myrem(112) 0 myrem(110) 0;
  }
}

.p-top-message__content-group {
  width: inherit;
  display: flex;
  flex-direction: column;
}

.p-top-message__box {
  width: 100%;
  @include mq(md) {
    padding: 0 myrem(120) 0 0;
  }
}

.p-top-message__box-title {
  font-size: myrem(18);
  font-weight: bold;
  line-height: calc(30 / 18);
  letter-spacing: 0.1em;
  @include mq(md) {
    font-size: myrem(34);
    font-weight: 800;
    line-height: 1.65;
    margin: 0 0 0 myrem(8);
  }
}

.p-top-message__label {
  @include mq(md) {
    line-height: 1;
    padding: myrem(7) myrem(16) myrem(12) myrem(9);
  }
}

.p-top-message__box-text {
  font-size: myrem(18);
  font-weight: bold;
  line-height: calc(30 / 18);
  letter-spacing: 0.1em;
  margin: myrem(23) 0 0 0;
  @include mq(md) {
    font-size: myrem(34);
    font-weight: 800;
    line-height: calc(54 / 34);
    margin: myrem(47) 0 0 myrem(8);
  }
}

.p-top-message__image {
  width: 100%;
  margin: myrem(62) 0 0 0;
  @include mq(md) {
    margin: myrem(79) 0 0 0;
  }
}
.p-top-message__image img {
  width: 100vw;
  aspect-ratio: 375 / 222;
  max-width: none;
  margin: 0 calc(50% - 50vw);
  object-fit: cover;
  @include mq(md) {
    width: 100%;
    aspect-ratio: 951 / 370;
    margin: 0;
  }
}

.p-top-message__box-title02 {
  width: 100%;
  @include mq(md) {
    margin: myrem(20) 0 0 myrem(8);
  }
}

.p-top-message__title-group {
  width: inherit;
  display: flex;
  justify-content: space-between;
  @include mq(md) {
    justify-content: space-between;
    padding: 0 0 myrem(10) 0;
  }
}

.p-top-message__btn {
  display: none;
  @include mq(md) {
    display: flex;
    align-items: flex-end;
    margin: 0 0 myrem(-10) 0;
  }
}
.p-top-message__row-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0 0 myrem(60) 0;
  @include mq(md) {
    display: none;
  }
}

.p-top-message__img-group {
  position: relative;
  width: 100%;
  // overflow: hidden;
}
.p-top-message__img-group:before {
  position: absolute;
  content: "";
  width: calc(315 / 375 * 100%);
  height: myrem(448);
  // background: orange;
  background: #f3f7fa;
  margin-left: calc(50% - 50vw);
  z-index: -1;
  top: myrem(101);
  @include mq(md) {
    width: calc(100% + (50vw - 50%));
    top: myrem(220);
  }
}

@keyframes infinity-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.p-top-message__img-text-group {
  position: absolute;
  top: 34%;
  left: 0;
  z-index: 1;
  display: flex;
  width: max-content;
  white-space: nowrap;
  animation: infinity-scroll 60s linear infinite;
  @include mq(md) {
    top: 38%;
    z-index: 0;
  }
}

.p-top-message__img-group-text {
  position: relative;
  font-family: $font-sub;
  font-size: myrem(80);
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.1em;
  color: $white;
  display: inline-block;
  width: auto;
  @include mq(md) {
    font-size: myrem(160);
  }
}

.p-top-message__image02 {
  width: 100%;
  position: relative;
  height: auto;
  @include mq(md) {
    height: myrem(370);
  }
}

.p-top-message__image02 img {
  position: relative;
  left: 50%;
  transform: translateX(-50vw);
  width: calc(100% + (50vw - 50%));
  max-width: none;
  aspect-ratio: 352 / 189;
  margin-top: myrem(40);
  object-fit: cover;
  @include mq(md) {
    width: myrem(690);
    left: 0;
    transform: none;
    margin-left: myrem(-70);
    margin-top: myrem(40);
    aspect-ratio: 690 / 370;
  }
}

.p-top-message__image03 {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  margin: myrem(80) calc(50% - 50vw) 0 myrem(-20);
  max-width: none;
  @include mq(md) {
    width: 100%;
    margin: myrem(88) 0 0 0;
  }
}
.p-top-message__image03 img {
  width: myrem(284);
  aspect-ratio: 284 / 162;
  object-fit: cover;
  @include mq(md) {
    width: myrem(533);
    aspect-ratio: 533 / 285;
  }
}

.p-top-message__image04 {
  width: 100%;
  @include mq(md) {
    margin: myrem(20) 0 0 myrem(29);
  }
}
.p-top-message__image04 img {
  width: myrem(305);
  aspect-ratio: 305 / 139;
  object-fit: cover;
  margin: myrem(36) auto;
  @include mq(md) {
    width: myrem(460);
    aspect-ratio: 460 / 210;
    margin: 0;
  }
}
