@use 'global' as *;


.l-message {
  margin-top: myrem(60);
  @include mq(md) {
    margin-top: myrem(80);
  }
}
.l-service {
  margin-top: myrem(60);
  @include mq(md) {
    margin-top: myrem(80);
  }
}
.l-profile {
  margin-top: myrem(60);
  @include mq(md) {
    margin-top: myrem(80);
  }
}
.l-404 {
  margin-top: myrem(60);
  @include mq(md) {
    margin-top: myrem(80);
  }
}
